{% extends "cadastro/base.html" %}

{% block content %}
<div class="menu-spacing"></div>

<div>
    <h2>Cadastro de Usuário</h2>
    <form method="POST" action="{% url 'cadastro:register_user' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cadastrar</button>
    </form>

    {% if messages %}
        <div class="modal" id="success-modal">
            <div class="modal-content">
                <p>{% for message in messages %}{{ message }}{% endfor %}</p>
                <form method="GET" action="{% url 'cadastro:index' %}">
                    <button type="submit">OK</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>  

{% endblock content %}
