{% extends "cadastro/base.html" %}

{% block content %}
<div class="menu-spacing"></div>

<div>
    <form action=" {% url "cadastro:search" %}" method="get">
        <div class="search-content">
            <label class="search-label" id="search-label" for="search-input">Search</label>
            <input type="search" name="search" id="search-input" placeholder="Search" value="{{ search_value }}">

        </div>
    </form>
</div>

<div class="user-cards">
    {% for user in page_obj %}
        <div class="card">
            <h3><a href="{% url 'cadastro:update_user' user.id %}">{{ user.username }}</a></h3>
            <p><strong>Nome:</strong> {{ user.first_name }}</p>
            <p><strong>Sobrenome:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
    {% empty %}
        <h4>Não foi encontrado cadastro.<a href="{% url "cadastro:register_user" %}">Cadastrar</a></h4> 
    {% endfor %}
</div>
{% include 'cadastro/partials/pagination.html' %}
{% endblock content %}
