{% extends "cadastro/base.html" %}

{% block content %}
<div class="menu-spacing"></div>


<div class="form-container">
    <div class="form">
        <h1>Atualizar Usuário</h4>
        <form method="POST" action="{% url 'cadastro:update_user' user.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username*</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">First Name*</label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                    <div class="error">{{ form.first_name.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                {{ form.last_name }}
                {% if form.last_name.errors %}
                    <div class="error">{{ form.last_name.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email*</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            
            <div class="btn-group">
                <button type="submit" class="btn btn-send">Send</button>
                <button type="reset" class="btn btn-cancel">Cancel</button>
            </div>
        </form>
        
        {% if messages %}
            <div class="modal" id="success-modal">
                <div class="modal-content">
                    <p>{% for message in messages %}{{ message }}{% endfor %}</p>
                    <form method="GET" action="{% url 'cadastro:index' %}">
                        <button type="submit" class="btn btn-send">OK</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
</div>  

{% endblock content %}
