{% extends "cadastro/base.html" %}

{% block content %}
<div class="menu-spacing"></div>

<div class="parent-container">
    <div class="detail-user">
        <p><strong>Username:</strong> {{ current_user.username }}</p>
        <p><strong>First Name:</strong> {{ current_user.first_name }}</p>
        <p><strong>Last Name:</strong> {{ current_user.last_name }}</p>
        <p><strong>Email:</strong> {{ current_user.email }}</p>
    </div>
</div>

<div class="btn-content">
    <a id="update" href="{% url 'cadastro:update_user' current_user.id %}">Update</a>
    <a id="delete" href="{% url 'cadastro:index' %}">Delete</a>
    <a id="cancel" href="{% url 'cadastro:list_users' %}">Cancel</a>
</div>


{% endblock content %}
