{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'global/css/styles.css' %}">
</head>
<body>
    <aside class="menu yellow-back">
        <div class="menu-content">
            <h1><a href=" {% url "cadastro:index" %}">Logo</a></h1>
            <nav>
                <ul>
                    <li><a href="{% url "cadastro:register_user" %}">Cadastrar</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url "cadastro:list_users" %}">Listar</a></li>
                        <li><a>Olá, {{ user.username }}</a></li>
                        <li><a href="{% url "cadastro:logout_user" %}">Sair</a></li>
                    {% else %}
                        <li><a href=" {% url "cadastro:login_user" %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </aside>
    {% block content %}{% endblock content %}
</body>
</html>